* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 40px;
  font-size: 45px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.appWrapper {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #b198ba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("cats.png");
}

.appWrapper .user {
  border-radius: 3px;
  width: 90%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #dcdcdc;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input {
  width: 40px;
  height: 40px;
  background-color: #dcdcdc;
  outline: none;
  border: none;
  margin-left: 5px;
  border-radius: 3px;
  background-image: url("more.png");
  background-size: cover;
  cursor: pointer;
}

input:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-wrapper {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.PostsArea {
  border-radius: 3px;
  width: 60%;
  height: auto;
  margin-top: 20px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #dcdcdc;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.UsersArea {
  width: 40%;
}

.post-wrapper {
  margin-bottom: 20px;
}

.post-body {
  font-size: 14px;
}

.post-body:first-letter {
  text-transform: uppercase;
}

.post-title {
  font-weight: bold;
}

.post-title:first-letter {
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */